<launch>
  <!-- Start de Flask-HMI (hmi_control_panel.py) -->
  <node pkg="hmi_interface"
        type="hmi_control_panel.py"
        name="hmi_node"
        output="screen" />

  <!-- Open browser -->
  <node pkg="hmi_interface"
        type="start_hmi.sh"
        name="start_hmi_script"
        output="screen"
        launch-prefix="bash" />
</launch>