<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="Opstelling_part">

  <xacro:macro name="Opstelling_urdf" params="prefix parent_link mesh_file xyz rpy">

    <material name="${prefix}_light_grey">
      <color rgba="0.7 0.7 0.7 1.0" />
    </material>

    <link name="${prefix}_frame">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${mesh_file}" scale="1 1 1"/>
        </geometry>
        <material name="${prefix}_light_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${mesh_file}" scale="1 1 1"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="2.0"/>
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
      </inertial>
    </link>

    <joint name="${prefix}_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${prefix}_frame"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

  </xacro:macro>

</robot>
